[Unit]
Description=Ansible compliance pull
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
EnvironmentFile=/etc/fedora-compliance/client.conf
ExecStart=/usr/bin/ansible-pull \
  --url ${COMPLIANCE_GIT_URL} \
  --checkout ${COMPLIANCE_GIT_BRANCH} \
  --directory /etc/ansible/pull \
  --inventory localhost, \
  --extra-vars @/etc/fedora-compliance/vars.yml \
  local.yml
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ansible-pull
